<div class="col-md nav-bar-trueform">
  <nav data-cy="navbar" class="navbar navbar-dark navbar-expand-md">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
      <span class="logo-img"></span>
      <span class="navbar-title"></span>
    </a>
    <a class="nav-link nav-categories-reverse" routerLink="/" (click)="collapseNavbar()">
      <span class="nav-categories-reverse"> new arrivals </span>
    </a>
    <a class="nav-link nav-categories-reverse" routerLink="/" (click)="collapseNavbar()">
      <span class="nav-categories-reverse"> limited editon </span>
    </a>
    <a class="nav-link nav-categories-reverse" routerLink="/" (click)="collapseNavbar()">
      <span class="nav-categories-reverse"> baby </span>
    </a>
    <a class="nav-link nav-categories-reverse" routerLink="/" (click)="collapseNavbar()">
      <span class="nav-categories-reverse"> kids </span>
    </a>
    <a class="nav-link nav-categories-reverse" routerLink="/" (click)="collapseNavbar()">
      <span class="nav-categories-reverse"> SHOP THE LOOK </span>
    </a>
    <a class="nav-link nav-categories-reverse" routerLink="/" (click)="collapseNavbar()">
      <span class="nav-categories-reverse"> s&s home </span>
    </a>
    <a class="nav-link nav-categories-reverse" routerLink="/" (click)="collapseNavbar()">
      <span class="nav-categories-reverse"> s&s home </span>
    </a>
    <a class="nav-link nav-categories-reverse" routerLink="/" (click)="collapseNavbar()">
      <span class="nav-categories-reverse"> SALE </span>
    </a>
    <a class="nav-link nav-categories-reverse" routerLink="/" (click)="collapseNavbar()">
      <span class="nav-categories-reverse"> gift card </span>
    </a>
    <a
      class="navbar-toggler d-lg-none"
      href="javascript:void(0);"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <fa-icon icon="search" class="nav-icon-reverse"></fa-icon>

      <fa-icon icon="home" class="nav-icon-reverse"></fa-icon>

      <fa-icon icon="bars" style="color: black"></fa-icon>
    </a>
    <div class="navbar-collapse collapse navbar-resp" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="account !== null">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item nav-item-center" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link nav-categories" routerLink="/" (click)="collapseNavbar()">
            <span class="nav-categories"> new arrivals </span>
          </a>
        </li>
        <li class="nav-item nav-item-center" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link nav-categories" routerLink="/" (click)="collapseNavbar()">
            <span class="nav-categories"> limited editon </span>
          </a>
        </li>
        <li class="nav-item nav-item-center" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link nav-categories" routerLink="/" (click)="collapseNavbar()">
            <span class="nav-categories"> baby </span>
          </a>
        </li>
        <li class="nav-item nav-item-center" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link nav-categories" routerLink="/" (click)="collapseNavbar()">
            <span class="nav-categories"> kids </span>
          </a>
        </li>
        <li class="nav-item nav-item-center" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link nav-categories" routerLink="/" (click)="collapseNavbar()">
            <span class="nav-categories"> SHOP THE LOOK </span>
          </a>
        </li>
        <li class="nav-item nav-item-center" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link nav-categories" routerLink="/" (click)="collapseNavbar()">
            <span class="nav-categories"> women </span>
          </a>
        </li>
        <li class="nav-item nav-item-center" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link nav-categories" routerLink="/" (click)="collapseNavbar()">
            <span class="nav-categories"> s&s home </span>
          </a>
        </li>
        <li class="nav-item nav-item-center" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link nav-categories" routerLink="/" (click)="collapseNavbar()">
            <span class="nav-categories"> SALE </span>
          </a>
        </li>
        <li class="nav-item nav-item-center" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link nav-categories" routerLink="/" (click)="collapseNavbar()">
            <span class="nav-categories"> gift card </span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
            <span class="nav-icon">
              <fa-icon icon="search"></fa-icon>
            </span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
            <span class="nav-icon">
              <fa-icon icon="home"></fa-icon>
              <span></span>
            </span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
            <span class="nav-icon">
              <fa-icon icon="heart"></fa-icon>
              <span></span>
            </span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
            <span class="nav-icon">
              <fa-icon icon="user"></fa-icon>
              <span></span>
            </span>
          </a>
        </li>
        <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
      </ul>
    </div>
  </nav>
  <div class="col-md button-group-underform">
    <label for="">
      <span style="font-size: 18px">New Summer avaiable now</span>
    </label>
    <div type="button" class="btn-underform">
      <span style="margin: auto">Shop now</span>
    </div>
  </div>
</div>
