<div class="col-md">
  <div class="col-md">
    <div>
      <span style="font-size: 20px">discover more</span>
    </div>
    <div class="form-items">
      <div class="items">
        <img
          class="abc"
          src="https://cdn.xxl.thumbs.canstockphoto.com/happy-mom-and-baby-son-in-summer-nature-happy-family-in-summer-nature-mom-and-baby-son-stock-images_csp27725659.jpg"
          alt=""
        />
        san pham 1
      </div>
      <div class="items">
        <img
          class="abc"
          src="https://cdn.xxl.thumbs.canstockphoto.com/happy-mom-and-baby-son-in-summer-nature-happy-family-in-summer-nature-mom-and-baby-son-stock-images_csp27725659.jpg"
          alt=""
        />
        san pham 2
      </div>
      <div class="items">
        <img
          class="abc"
          src="https://cdn.xxl.thumbs.canstockphoto.com/happy-mom-and-baby-son-in-summer-nature-happy-family-in-summer-nature-mom-and-baby-son-stock-images_csp27725659.jpg"
          alt=""
        />
        san pham 3
      </div>
      <div class="items">
        <img
          class="abc"
          src="https://cdn.xxl.thumbs.canstockphoto.com/happy-mom-and-baby-son-in-summer-nature-happy-family-in-summer-nature-mom-and-baby-son-stock-images_csp27725659.jpg"
          alt=""
        />
        san pham 3
      </div>
    </div>
  </div>
  <div class="col-md footer" style="padding: 1.5%">
    <p style="font-size: 18px">Explore</p>
    <div class="explore-items-group">
      <span type="button" class="explore-items">new arivals </span>
      <span type="button" class="explore-items">baby</span>
      <span type="button" class="explore-items">kids</span>
      <span type="button" class="explore-items">women</span>
      <span type="button" class="explore-items">sale</span>
      <span type="button" class="explore-items">S&S home</span>
    </div>
  </div>
  <div class="footer about-items">
    <p>ABOUT</p>
    <p>CUSTOMER CARE</p>
    <P>RETURNS</P>
    <P>STOCKISTS</P>
    <P>INSTAGRAM</P>
    <p>newsletter</p>
  </div>
  <div class="footer footer-end">
    <p style="font-size: 20px; text-align: center; margin-top: 25px; font-weight: 700">Summer&nbsp;</p>
    <p style="font-size: 20px; text-align: center; margin-top: 20px">and&nbsp;</p>
    <p style="font-size: 20px; text-align: center; margin-top: 25px; font-weight: 700">Storm&nbsp;</p>
  </div>
</div>
